/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #ffffff;
	text-decoration: none;
}


/* my css */
html {
	background: linear-gradient(-179deg, #70bae7 0%, #e1bcca 90%);
}

header {
	font-family: PingFangTC-Medium;
	color: #ffffff;
	background: #4d9be0;
	height: 150px;
	position: relative;
}
header:before {
	content: "";
	width: 100%;
	height: 200px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -200px;
	background: linear-gradient(-179deg, #4d9be0 0%, rgba(31, 89, 226, 0) 80%);
	opacity: 0.3;
	z-index: -1;
}
header nav {
	position: absolute;
	right: 0;
}
header nav ul {
	margin: 20px;
}
header nav ul li {
	margin: 0 20px;
	float: left;
}
header h1 {
	text-align: center;
	font-size: 40px;
	line-height: 180px;
}

main section {
	width: 960px;
	margin: 0 auto;
}
main section h2 {
	color: #ffffff;
	margin: 30px 0;
	text-align: center;
}
main section ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
main section ul > li {
	width: 48%;
	margin-bottom: 30px;
}
main section ul > li h3 {
	color: #ffffff;
	background: #899ce1;
	padding: 10px 20px;
	border-radius: 5px 5px 0 0;
}

.area-content {
	display: flex;
    align-items: center;
    padding: 10px;
	border-radius: 0 0 5px 5px;
	background: #f3faff;
}

.area-content span {
	display: block;
	padding-left: 20px;
    color: #383e42;
    font-size: 1.3em;
    font-weight: 600;
}
  
/* 手機 */
@media all and (max-width: 767px) {
	main section {
		width: 90%;
	}
	main section ul {
		flex-direction: column;
	}
	main section ul > li {
		width: 100%;
		margin-bottom: 30px;
	}
}